{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Portal para la App de la GP 32</title>
	<link rel="stylesheet" type="text/css" href="{% static 'template/css/estilos.css' %}/">
	<meta charset="utf-8">
	{% block header %}
 	{% endblock %}
</head>
<body>
	<header id="header">
		<h1>Portal para la App de la GP 32</h1>
	</header><!-- /header -->
	<nav>
		<a href="/">Inicio</a>
		<a href="/productos">Productos</a>
		<a href="/clientes">Clientes</a>
		<a href="/servicios">Servicios</a>
		<a href="/mapa">Mapa</a>
		<a href="/contactos">Contactos</a>
	</nav>
	<section id="contenedor">
		{% block content %}
		{% endblock %} 
	</section>
	<footer>
		Derechos Reservados UTPL 2015	
		{% block footer %}
		{% endblock %}
	</footer>
</body>
</html>