*{
	padding: 0;
	margin: 0;
}
body{
	background: #f2f2f2;
	font-family: arial;
}
header{
	background: #333;
	color: #f2f2f2;
	padding: 1em 2em;
	text-shadow:3px 3px 5px #000;
}
nav{
	background: #000;
	padding: 0.5em 1em;
	text-align: center;
}
nav a{
	padding: 0.5em 1em;
	text-decoration: none;
	color: #fff;
}
nav a:hover{
	color: #000;
	background: #ccc;
}
section#contenedor{
	width: 90%;
	margin: 0 auto;
	background: #fff;
	padding: 1em;
}
footer{
	text-align: center;
	padding: 1em 0;
	font-size: 0.7em;
	background: #000;
	color: #999;
}
.formcontact{
	display: block;
	width: 100%;
}
.forminputs{
	width: 30%;
	margin: 0.3em 1em;
}
.forminputsbtn{
	margin: 0.3em 1em;
	width: 15%;
}